In [1]:
import yfinance as yf

In [2]:
aapl = yf.download(tickers="AAPL", period="7d", interval="1m")
aapl

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2024-03-19 09:30:00-04:00,174.089996,174.199997,173.720001,173.778595,173.778595,1579711
2024-03-19 09:31:00-04:00,173.809998,173.990005,173.660004,173.720001,173.720001,239503
2024-03-19 09:32:00-04:00,173.690002,173.820007,173.589996,173.610001,173.610001,208318
2024-03-19 09:33:00-04:00,173.610794,173.639999,173.380005,173.399994,173.399994,199798
2024-03-19 09:34:00-04:00,173.410004,173.789993,173.389999,173.479996,173.479996,199068
...,...,...,...,...,...,...
2024-03-27 15:56:00-04:00,173.160004,173.259995,173.130005,173.255005,173.255005,342325
2024-03-27 15:57:00-04:00,173.244995,173.255005,173.139999,173.162506,173.162506,477017
2024-03-27 15:58:00-04:00,173.169998,173.247192,173.059998,173.247192,173.247192,680659
2024-03-27 15:59:00-04:00,173.235001,173.410004,173.130005,173.410004,173.410004,1472624
2024-03-27 16:00:00-04:00,173.309998,173.309998,173.309998,173.309998,173.309998,0

In [3]:
data=yf.download(tickers='AAPL',start='2024-03-05',end='2024-03-12',interval='1m')

[*********************100%***********************]  1 of 1 completed

In [4]:
data

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2024-03-05 09:30:00-05:00,171.000000,171.000000,170.610001,170.919998,170.919998,5958861
2024-03-05 09:31:00-05:00,171.020004,171.074997,171.020004,171.059998,171.059998,926341
2024-03-05 09:32:00-05:00,171.335999,171.339996,171.270004,171.300003,171.300003,703908
2024-03-05 09:33:00-05:00,171.929993,171.970001,171.875000,171.895004,171.895004,994237
2024-03-05 09:34:00-05:00,171.625000,171.740005,171.580002,171.610001,171.610001,626087
...,...,...,...,...,...,...
2024-03-11 15:56:00-04:00,172.660004,172.779999,172.625000,172.770004,172.770004,317942
2024-03-11 15:57:00-04:00,172.770004,172.839996,172.720001,172.809998,172.809998,349009
2024-03-11 15:58:00-04:00,172.800003,172.807800,172.679993,172.729996,172.729996,408144
2024-03-11 15:59:00-04:00,172.729996,172.860001,172.679993,172.789993,172.789993,1020285
2024-03-27 16:00:00-04:00,173.309998,173.309998,173.309998,173.309998,173.309998,0