In [29]:
# For downloading historical market data:
import yfinance as yf

# For data manipulation:
import pandas as pd

# For working with dates and times:
from datetime import datetime, timedelta

# For timezone support:
import pytz

# <font color='pink'>Utility Functions</font>

Removing seconds from datetime strings in a Dataframe.

In [30]:
def removeSeconds(df):
    modified_dates=[]
    for date in df['Date']:

        format = '%Y-%m-%d %H:%M:%S%z'

        # Converting stirng to datetime object using the above format:
        date = datetime.strptime(date, format)

        # Removing seconds from the datetime object:
        modified_date = date.replace(second=0)
        
        modified_dates.append(modified_date)
    df['Date']=modified_dates
    return df

Converting datetime values in a DataFrame to a specific timezone.

In [31]:
def convertTimezone(timezone,df,name):

    # The target timezone:
    target_tz = pytz.timezone(timezone)

    # If we're using DataFrame index:
    if df.index is not None:
        # Converting the datetime to the target timezone:
        df.index = pd.to_datetime(df.index, utc=True).tz_convert(timezone)

    # If we're not using DataFrame index:
    else:
        # Converting the datetime to the target timezone:
        df[name] = pd.to_datetime(df[name],utc=True).dt.tz_convert(target_tz)
    return df

# NOTES:
    # 'utc=True' for ensuring that all datetime values are in UTC before any operations
    # ... to avoid issues related to timezone conversions

Retrieving stock prices for a specified date range using Yahoo Finance API 'yfinance'.

In [32]:
def getStockPrices(start_date,end_date,ticker):

    # Converting start and end date to datetime objects:
    start_date = datetime.strptime(start_date, "%Y-%m-%d")
    end_date = datetime.strptime(end_date, "%Y-%m-%d")

    # Interval for stock price data retrieval (1 minute):
    interval = "1m"                     

    # Assigning start_date to current_date:
    current_date = start_date
    
    # List that will contain all retrieved stock price data:
    data_list = []  

    todays_date = datetime.now()

    while current_date < end_date:

        # Since we're downloading stock price data in chunks of up to 7 days to avoid API limitations,
        # ... we must calculate the remaining days at each iteration:
        remaining_days = (end_date - current_date).days
        
        # If remaining_days < 7, we download the data until end_date
        if remaining_days < 7:
            print(f"getting dates for {current_date}->{next_date}")
            data = yf.download(tickers=ticker, start=current_date, end=end_date, interval=interval)

            # We must convert the data to a specified timezone:
            data = convertTimezone('UTC', data, 'Datetime')
            
            data_list.append(data)

            # Setting current_date to end_date to exit the loop
            current_date = end_date

        # If remaining_days>=7, we download data for next 7 days:
        else:
            next_date = current_date + timedelta(days=7)

            print(f"getting dates for {current_date}->{next_date}")
            data = yf.download(tickers=ticker, start=current_date, end=next_date, interval=interval)

            # We must convert the data to a specified timezone:
            data = convertTimezone('UTC', data, 'Datetime')
            
            data_list.append(data)

            # Updating current_date for the next iteration:
            current_date = next_date

    final_data = pd.concat(data_list)
    final_data.reset_index(inplace=True)
    if 'index' in final_data.columns:  
        final_data.rename(columns={'index': 'Datetime'}, inplace=True)  
    return final_data

# Notes:
    # We must convert the data to a specified timezone, 
    # ... to ensure that all datetime values in the dataset are in the same timezone,
    # ... for consistency and comparison purposes.

Adding stock prices to a DataFrame based on matching dates

In [33]:
def addStockPrices(stockPrices,df):

    # Ensuring that both datasets have their datetime columns properly formatted as strings,
    # ... for accurate matching.
    stockPrices['Datetime'] = pd.to_datetime(stockPrices['Datetime'],utc=True)
    stockPrices['Datetime'] = stockPrices['Datetime'].dt.strftime('%Y-%m-%d %H:%M:%S')

    df['Date'] = pd.to_datetime(df['Date'],utc=True)
    df['Date'] = df['Date'].dt.strftime('%Y-%m-%d %H:%M:%S')

    # This list will store retrieved stock prices:
    stock_prices = []

    for index, row in df.iterrows():

        publication_date = row['Date']
       
        # If the publication date exists in teh stockPrices DataFrame,
        # ... we retrieve the corresponding stock price from stockPrices DataFrame
        if publication_date in stockPrices['Datetime'].values:
            stock_price = stockPrices.loc[stockPrices['Datetime'] == publication_date, 'Adj Close'].values[0]
            stock_prices.append(stock_price)
        else:
            stock_prices.append(None)  
    df['stock_price'] = stock_prices
    df= df.dropna(subset=['stock_price'])
    return df

Adding stock prices after a specified time period to a DataFrame based on publication dates.

In [34]:
def addStockPricesAfter(stockPrices,df,time):

    # Ensuring that both datasets have their datetime columns properly formatted as strings,
    # ... for accurate matching.
    stockPrices['Datetime'] = pd.to_datetime(stockPrices['Datetime'],utc=True)
    stockPrices['Datetime'] = stockPrices['Datetime'].dt.strftime('%Y-%m-%d %H:%M:%S')

    df['Date'] = pd.to_datetime(df['Date'],utc=True)

    # Adding the specified time period to the publication dates
    df['Date']+=timedelta(minutes=time)

    df['Date'] = df['Date'].dt.strftime('%Y-%m-%d %H:%M:%S')

    # This list will store retrieved stock prices:
    stock_prices = []

 
    for index, row in df.iterrows():
        publication_date = row['Date']
              
        # If the publication date exists in teh stockPrices DataFrame,
        # ... we retrieve the corresponding stock price from stockPrices DataFrame
        if publication_date in stockPrices['Datetime'].values:
           
            stock_price = stockPrices.loc[stockPrices['Datetime'] == publication_date, 'Adj Close'].values[0]
            stock_prices.append(stock_price)
        else:
            stock_prices.append(None) 


    df[f'stock_price_after_{time}_mins'] = stock_prices
    df= df.dropna(subset=[f'stock_price_after_{time}_mins'])
    return df

Labeling the Data based on stock price changes after a certain period of time.

In [35]:
def label(df,time):
    # List to store labels indicating stock price changes
    labels=[]

    # List to store percentage changes in stock prices
    change_percentages=[]

    # column name of stock prices based on the time:
    name=f'stock_price_after_{time}_mins'

    for index, row in df.iterrows():

        # Calculating the percentage change in stock price after a certain time
        change_percentages.append((row[name] - row['stock_price'] )/ row['stock_price'] * 100)
        
        # Labeling the data:
        if row[name]>row['stock_price']:
            labels.append(1)
        elif row[name]<row['stock_price']:
            labels.append(-1)
        else:
            labels.append(0)
    df['change_percentage']=change_percentages
    df['label']=labels
    return df

Creating a CSV file

In [36]:
def turnToCSV(df,name):
    df.to_csv(fr'C:\Users\Legion\Desktop\FinalYearProject\data\{name}.csv',index=False)

# <font color='pink'>Main Program</font>

Reading our News dataset tha contains all of the News articles and their publication dates

In [37]:
News=pd.read_csv(r'C:\Users\Legion\Desktop\FinalYearProject\data\News.csv')
News.head(1)

,Date,article_title,article,source_name,source_link
0,2024-04-05 10:14:33+00:00,Apple axes 600 jobs after giving up on electri...,Apple is cutting more than 600 jobs after aban...,Yahoo Finance,https://finance.yahoo.com/quote/AAPL/news/appl...

Creating the stockPrices dataset

In [38]:
# Getting the start date from the News dataset and the end date:
start_date = News['Date'].min().split()[0] 
end_date =  News['Date'].max().split()[0]  
print(start_date)
print(end_date)

# add a condition where if the date range is not valid, it automatically removes the records with the invalid date. 

# Creating a CSV file with all the stock prices corresponding to these dates:
#stockPrices=getStockPrices(start_date,end_date,'AAPL')

try:
    existing_data = pd.read_csv(r"C:\Users\Legion\Desktop\FinalYearProject\data\StockPrices.csv")
except FileNotFoundError:
    existing_data = pd.DataFrame()

new_data=getStockPrices(start_date,end_date,'AAPL')

# Appending new data to existing DataFrame
stockPrices = pd.concat([existing_data, new_data])
stockPrices.drop_duplicates(subset='Datetime', keep='first', inplace=True)

turnToCSV(stockPrices,'stockPrices')
stockPrices

2024-03-05
2024-04-05
getting dates for 2024-03-05 00:00:00->2024-03-12 00:00:00

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AAPL: 1m data not available for startTime=1709589600 and endTime=1710194400. The requested range must be within the last 30 days.
getting dates for 2024-03-12 00:00:00->2024-03-19 00:00:00
[*********************100%***********************]  1 of 1 completed
getting dates for 2024-03-19 00:00:00->2024-03-26 00:00:00
[*********************100%***********************]  1 of 1 completed
getting dates for 2024-03-26 00:00:00->2024-04-02 00:00:00
[*********************100%***********************]  1 of 1 completed
getting dates for 2024-04-02 00:00:00->2024-04-02 00:00:00
[*********************100%***********************]  1 of 1 completed

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2024-03-05 14:30:00+00:00,171.000000,171.000000,170.610001,170.919998,170.919998,5958861.0
1,2024-03-05 14:31:00+00:00,171.020004,171.074997,171.020004,171.059998,171.059998,926341.0
2,2024-03-05 14:32:00+00:00,171.335999,171.339996,171.270004,171.300003,171.300003,703908.0
3,2024-03-05 14:33:00+00:00,171.929993,171.970001,171.875000,171.895004,171.895004,994237.0
4,2024-03-05 14:34:00+00:00,171.625000,171.740005,171.580002,171.610001,171.610001,626087.0
...,...,...,...,...,...,...,...
6618,2024-04-04 19:55:00+00:00,169.210007,169.210007,168.990005,169.059998,169.059998,532118.0
6619,2024-04-04 19:56:00+00:00,169.050003,169.115005,168.919998,168.934998,168.934998,333392.0
6620,2024-04-04 19:57:00+00:00,168.934998,169.029999,168.860001,168.914993,168.914993,369918.0
6621,2024-04-04 19:58:00+00:00,168.929993,169.000000,168.880005,168.925003,168.925003,484205.0
6622,2024-04-04 19:59:00+00:00,168.929993,169.039993,168.830002,168.889999,168.889999,1651234.0

Getting the stock prices before and after a certain amount of time corresponding to the publication date.

In [39]:
# First, we need to remove the seconds from the dates since 'yfinance operates on minute-based intervals:
News=removeSeconds(News)

# Adding the stock prices corresponding to the publication date:
News=addStockPrices(stockPrices,News)

# Adding stock prices after 30 minutes of the publication date:
News=addStockPricesAfter(stockPrices,News,30)

News.head(1)

,Date,article_title,article,source_name,source_link,stock_price,stock_price_after_30_mins
13,2024-04-04 19:58:00,Magnificent Seven Stocks To Buy And Watch: Tes...,"Magnificent Seven stocks, including AI leader ...",Yahoo Finance,https://finance.yahoo.com/quote/AAPL/m/4205eaa...,169.139999,168.925003

Labeling the data.

In [40]:
News=label(News,30)
turnToCSV(News,'NewsWithStockPrice')

News.head(1)

,Date,article_title,article,source_name,source_link,stock_price,stock_price_after_30_mins,change_percentage,label
13,2024-04-04 19:58:00,Magnificent Seven Stocks To Buy And Watch: Tes...,"Magnificent Seven stocks, including AI leader ...",Yahoo Finance,https://finance.yahoo.com/quote/AAPL/m/4205eaa...,169.139999,168.925003,-0.127111,-1

In [41]:
# down_threshold = -1 
# up_threshold = 1    

# labels = []
# for index, row in News.iterrows():
#     change_percentage = ((row['stock_price_after_30_mins'] - row['stock_price']) / row['stock_price']) * 100
#     print(change_percentage)
#     if change_percentage < down_threshold:
#         labels.append(-1)
#     elif change_percentage > up_threshold:
#         labels.append(1)
#     else:
#         labels.append(0)


# News['label'] = labels

In [42]:
df=yf.download('AAPL',start='2024-04-03',end='2024-04-06',interval='1m')
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2024-04-03 09:30:00-04:00,168.750000,168.949997,168.690002,168.850403,168.850403,1172556
2024-04-03 09:31:00-04:00,168.860001,168.919998,168.710007,168.740005,168.740005,141595
2024-04-03 09:32:00-04:00,168.744995,168.770004,168.619995,168.669907,168.669907,113386
2024-04-03 09:33:00-04:00,168.669998,168.720001,168.589996,168.630005,168.630005,110398
2024-04-03 09:34:00-04:00,168.634995,168.789902,168.634995,168.740005,168.740005,124648
...,...,...,...,...,...,...
2024-04-05 15:52:00-04:00,169.854996,169.854996,169.645004,169.774994,169.774994,286630
2024-04-05 15:53:00-04:00,169.770004,169.800003,169.710007,169.789993,169.789993,127394
2024-04-05 15:54:00-04:00,169.785004,169.910004,169.740005,169.889999,169.889999,210823
2024-04-05 15:55:00-04:00,169.880005,169.940002,169.753494,169.759995,169.759995,252050
2024-04-05 15:56:53-04:00,169.615005,169.615005,169.615005,169.615005,169.615005,0

In [43]:
df=yf.download('AAPL',start='2024-03-05',end='2024-03-06',interval='1m')
df

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AAPL: 1m data not available for startTime=1709589600 and endTime=1709676000. The requested range must be within the last 30 days.

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [44]:
df=yf.download('AAPL',start='2024-03-06',end='2024-03-07',interval='1m')
df

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AAPL: 1m data not available for startTime=1709676000 and endTime=1709762400. The requested range must be within the last 30 days.

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [45]:
df=yf.download('AAPL',start='2024-03-07',end='2024-03-08',interval='1m')
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2024-03-07 09:30:00-05:00,169.149994,169.330002,168.669998,168.690002,168.690002,3173932
2024-03-07 09:31:00-05:00,168.684998,168.924606,168.610001,168.720001,168.720001,381598
2024-03-07 09:32:00-05:00,168.720001,169.350006,168.679993,169.179993,169.179993,413468
2024-03-07 09:33:00-05:00,169.175995,169.629303,169.160004,169.380005,169.380005,337229
2024-03-07 09:34:00-05:00,169.369995,169.740005,169.360001,169.690002,169.690002,499142
...,...,...,...,...,...,...
2024-03-07 15:55:00-05:00,169.270004,169.320007,169.160004,169.199997,169.199997,401449
2024-03-07 15:56:00-05:00,169.199997,169.229996,169.110001,169.119995,169.119995,326517
2024-03-07 15:57:00-05:00,169.115005,169.130005,168.899994,169.022507,169.022507,536623
2024-03-07 15:58:00-05:00,169.020004,169.100006,168.970001,169.095001,169.095001,478816
2024-03-07 15:59:00-05:00,169.095001,169.139999,168.949997,168.979996,168.979996,1080155